/* Main CSS */

body {
	background-color: #111;
	font-family: Calibri, Arial, sans-serif;
	margin: auto;
}

header {
	background-color: #eee;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
}

article {
	width: 50%;
	padding: 10px 50px;
	background-color: #eee;
	margin: 10px auto;
}

section {
	min-height: 100px;
	overflow: auto;
}

.half {
	width: 45%;
	float: left;
	text-decoration: underline;
}

.little {
	font-size: 0.9em;
}

article a {
	color: #0E3A19;
}

article a:hover {
	color: #0E3A19;
}

article a:visited {
	color: #0E3A19;
}

figure {
	float: left;
}

figure img {
	width: 200px;
}

@media (max-width: 600px) {
	.half {
		width: 100%;
		float: none;
		padding: 10px 0;
	}
	
	section {
		min-height: 100px;
	}
	
	figure img {
		width: 100px;
	}
}